@use '../styles/utilities.scss';

.navChangeColor {
  --bg-color: var(--color-accent);
}

.nav {
  grid-column: 1 / -1;
  position: fixed;
  // top: 1.5rem;
  --fr: minmax(1rem, 1fr);
  display: grid;
  grid-template-columns: var(--fr) clamp(30rem, 90vw, 120rem) var(--fr);
  grid-auto-flow: column;
  z-index: 999;

  background-color: var(--bg-color, transparent);
}

.wrapper {
  grid-column: 2 /3;
  @extend %grid-section;
  grid-template-columns: max-content 1fr;
  justify-items: end;
  align-items: center;
}

.logoWrapper {
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 6.4rem;
}

.logo {
  object-fit: contain;
  object-position: center;
}

.navLinks {
  @extend %grid-section;
  --gap: 3.5rem;
  grid-auto-flow: column;
  text-transform: capitalize;
  --color: var(--color-primary);

  @media only screen and (max-width: 768px) {
    display: none;
    grid-auto-flow: row;
    border-radius: 10px;
    width: 260px;
    position: absolute;
    right: 30px;
    top: 50px;
    padding: 15px 30px;
    background-color: #285a43;
  }
}

.menuLine {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  user-select: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.icon {
  --width: 100%;
  --height: 100%;
  --stroke: var(--color-primary);
}

#checkbox {
  display: none;
  &:checked + .navLinks {
    display: grid;
  }
}
